<% if notice %>
  <p id="notice"><%= notice %></p> 
<% end %>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </tbody>
  <%= link_to "New User", new_user_path%>
</table>
