<h2><%= t('.title') %></h2>
<table>
  <!-- render() renders all the line items by iterating the collection provided -->
  <%= render(cart.line_items) %>
  <tr class = "total_line">
    <td>Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>
  <%= button_to t('.checkout'), new_order_path, method: :get %>
<div class="empty_cart">
  <%= button_to t('.empty'), cart, method: :delete, data: {confirm: "Are you sure"}  %>
</div>
