Dear <%= @order.name %>
Thank you for your recent order from The Abby Bookshelf Store. You ordered the following items:
<% @order.line_items.each do |line_item| %>
  <%= render line_item  %>
<% end %>
We'll send you a separate e-mail when your order ships.