<h3>Dear <%= @order.name %>,</h3>
<p> Thank you for your recent order from The Abby Bookshelf Store. You ordered the following items:</p>
<table>
  <tr><th>Book Name </th><th colspan="2">Qty</th><th>Description</th></tr> 
      <% @order.line_items.each do |line_item|%>
        <%= render line_item %>
      <% end %>
</table>

<p> We'll send you a separate e-mail when your order ships.</p>