<center>
  <%= form_for(@picture, url: {action: 'save'}, html: {multipart: true}) do |form| %>
    Comment: <%= form.text_field("comment") %><br/>
    Upload your picture: <%= form.file_field("uploaded_picture") %><br/> 
    <%= submit_tag("Upload file") %>
  <% end %>
</center>