<% @products.each do |product| %>
  <tr class = "<%= cycle('list_line_odd', 'list_line_even')%> ">
  <td>
    <%= image_tag product.image_url, class: 'list_image', alt: 'image.txt' %>
  </td>
  <td class = 'list_description'>
    <dl>
      <dt>
        <%= product.title %>
      </dt>
      <dd>
        <%= product.description.truncate(50)%>
      </dd>
    </dl>
  </td>
  <td class = "list_actions">
    <%= link_to 'Show', product_path(product) %></br>
    <%= link_to 'Edit', edit_product_path(product) %></br>
    <%= link_to 'Delete', product_path(product), method: :delete %></br>
  </td>
</tr>
<% end %>