<center>
  <h1> Products List </h1> 
  <p  id='product_form' > Click <%= link_to 'here', new_product_path, remote: true %> to create new product.</p>
  <table>
    <%= render 'products'%>
  </table>  
</center>