<center>
<%= image_tag @product.image_url , class: 'product-image'%><br>
<b>Title:</b><%= @product.title %><br>
<b>Description:</b><%= @product.description %><br>
<b>Price: </b>$<%= @product.price %><br>
 
<%= link_to 'Back', products_path %> | <%= link_to 'Edit', edit_product_path(@product)%> | <%= link_to 'Delete', product_path(@product), method: :delete,data: {confirm: 'Are You Sure?'}  %>
</center>