<% if notice %>
    <p id = "notice"><%= notice%></p>
<% end %> 
<h1><%= t('.title')%></h1>
<% @products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image_url) %>
    <h3><%= product.title %></h3>
    <p><%= sanitize(product.description) %></p> 
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
      <%= button_to t('.add_html'),line_items_path(product_id: product, locale: I18n.locale), remote: true %>
    </div>
  </div>
<% end %>