<div id="side">
  <div id="cart"> 
    <% if @cart %>
      <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
        <%= render @cart %> 
      <% end %>
    <% end %>
  </div>
  <ul>
    <li><%= link_to t('.home'), '/' %></li>
    <li><%= link_to t('.questions'), "#" %></li>
    <li><%= link_to t('.news'), '#' %></li>
    <li><%= link_to t('.contact'), '/contact' %></li>
  </ul>
  <% if session[:user_id] %> 
    <ul>
      <li><%= link_to 'Orders', orders_path %></li> 
      <li><%= link_to 'Products', products_path %></li> 
      <li><%= link_to 'Users', users_path %></li>
    </ul>
    <%= button_to 'Logout', logout_path, method: :delete %> 
  <% else %>
    <%= button_to 'Login', login_path, method: :get %>
  <% end %>
</div>
