<!DOCTYPE html>
<html>
  <head>
    <title><%= t('.title_html') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = '<%= controller.controller_name%>' >
    <div id="banner">
      <%= form_tag store_index_path, class: 'locale', method: :get, style:'float:right; margin: -0.25em 0.1em;' do %>
        <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
        <%= submit_tag 'submit' %>
        <%= javascript_tag "$('.locale input').hide()" %>
      <% end %>
      <%= image_tag ("lorem.png")%><%= @page_title || "Abby's Bookshelf"%>
    </div>
    <div class="row">   
      <div class="columns">
        <%= render 'layouts/side_bar'%>
      </div>
      <div class="columns">
        <div id="main">
          <%= yield %>
        </div>
      </div>  
    </div>
    <div class="row1">
      <div class="columns1">
        <h4>Params</h4> <%= debug(params) %> 
      </div>
    </div>
  </body>
</html>
